.tableContainer {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
.Sticky {
  background-color: white;
  display: flex;
  padding: 16px 95px 16px 16px;
  align-items: center;
  flex: 1 0 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  position: sticky;
  top: 0;
  background-color: white;
}

.tableCell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;

  &:first-child {
    width: 80px;
  }

  &:last-child {
    width: 120px;
  }
}

.inativo {
  background-color: #F6F6F6;
}

.ativoText {
  text-align: center;
  color: #46855b;
  border-radius: 100px;
  background: linear-gradient(0deg, rgba(10, 178, 67, 0.15) 0%, rgba(10, 178, 67, 0.15) 100%), #FFF; 
}

.inativoText {
  text-align: center;
  color: #e53e3e;
  border-radius: 100px;
  border-radius: 100px;
  background: linear-gradient(0deg, rgba(229, 62, 62, 0.10) 0%, rgba(229, 62, 62, 0.10) 100%), #FFF;
}
